:root {
    --primary-color: #28bf96;
    --primary-color-dark: #209677;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: var(--primary-color-dark);
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .nav__logo {
    font-size: 50px;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .link a {
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .link a:hover {
    color: var(--primary-color);
  }
  
  .header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
  
  .content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark);
  }
  
  .content h1 span {
    font-weight: 400;
  }
  
  .content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.75rem;
  }
  
  .image {
    position: relative;
    text-align: center;
    isolation: isolate;
  }
  
  .image__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
  }
  
  .image img {
    width: 100%;
    max-width: 475px;
  }
  
  .image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .image__content__1 {
    transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
  }
  
  .image__content__1 span {
    padding: 10px 12px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: #defcf4;
    border-radius: 100%;
  }
  
  .image__content__1 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .image__content__1 p {
    color: var(--text-light);
  }
  
  .image__content__2 {
    transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
  }
  
  .image__content__2 ul {
    list-style: none;
    display: grid;
    gap: 1rem;
  }
  
  .image__content__2 li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: var(--text-light);
  }
  
  .image__content__2 span {
    font-size: 1.5rem;
    color: var(--primary-color);
  }
  
  @media (width < 900px) {
    .nav__links {
      display: none;
    }
  
    .header {
      padding: 1rem;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .content {
      text-align: center;
    }
  
    .image {
      grid-area: 1/1/2/2;
    }
  }







  .about{
    background: url(image1.jpg) no-repeat left;
    background-size: 55%;
    background-image: url(di1.jpg);
    background-size: cover;
    overflow: hidden;
    padding: 100px 0;
    height: 600px;
    
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #ffffff;
    padding: 90px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
    height: 470px;

}

.inner-section h1{
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.text{
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 80px;

}

.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #00999c;
    color: white;
    cursor: pointer;
}

.containers{
    margin-bottom: 0px;
}








.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(image/contact-bg.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #07c299;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #07c299;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #0cb884;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #075f50;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #2e3532f3;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #0d635c;
    border-color: #398b7a;
}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}